---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
<main>
	<img src="/1.png" />
	<h2>一、热门推荐</h2>
	热门推荐栏目为用户精选了一系列最受欢迎的产品，包括：
	1.精选热销产品：
		
	<p>1、Olay淡斑小白瓶</p>
新版比前一代是小升级，加入传明酸。采用烟酰胺、酰本胺、革糖素、AA2G、SDL、凝血酸作为美白通路。红没药醇，甘草酸二钾和B5尿囊素舒缓。不含香精、着色剂即时提亮肤色，比较精简和清透，走了敏感肌只要对烟酰胺不过敏就可以用的美白产品。它涵盖了超抗（除了VE，但是用处真不大），又比超抗更多了些东西和浓度，也更精简，要选就选它。质地大部分肤质都适宜，肤感算是比较好的。
	
	<p>2、欧莱雅注白瓶</p>
美白淡斑提亮集一体，都有不错的效果，通路比较齐全。但缺点很明显——泵头难用，肤感粘，略刺激。目前是有跳水价，泵头真的该升级一下了。它美白抗氧二合一，主要功效成分为二裂酵母发酵产物溶胞产物+烟酰胺+咖啡因+377+新鲜水杨酸+木瓜蛋白酶+菠萝果提取物+HEPES+阿魏酸，本身也有温和促进代谢的途径。
	
<img src="/2.png" />
	
	
新一代考虑到了昼夜节律以及促进胶原新生，Nox-Age是万金油，还可以糖氧双抗。以及麦角硫因，合欢树皮，脱羧肌肽，collrepair等清除糖基化终末产物AGEs。抗氧抗糖通路全，肤感相对好些，适合任何年龄段使用，新版的泵头我用到现在感觉还不错。小tips，嫌贵去看看中样还有替换装。


	<img src="/3.png" />

	<p>4、修丽可胶原瓶</p>
没在外网上查到有售，也有其它的店主这么说，还说挺骄傲的，中国特供啊。骄傲啥啊，这瓶精华在国外这样宣传和卖那真的可能被骂。首先，目前来说外用胶原蛋白的抗老紧致稳定性，都依然待论证，保湿和修护还可以。修丽可这一瓶用的就是锦波3型胶原原料，含量浓度是1.6%。肽类溶液浓度总计3%，来说抗衰紧致，实在是有点无语。（当年骂屠龙的人接了这个广良心不亏吗，不过好歹给了3%肽溶液吧），重组胶原今年虽火热，资本用来收钱，我们普通人不必在此时凑这个热闹，可以再等等。想抗老紧致，还是多看看主打肽类的产品，胶原附加在里面就可以，当然不附加也行。国内那么多好的肽类精华、面霜，浓度高效果好，建议别花冤枉钱。
	<img src="/4.png" />

<h2>二、明星同款</h2>
低至35元，女明星同款彩妆好东西！
国货彩妆里，包装美学玩得飞起的酵色，又又又出新品了。我在化妆师王亚飞的化妆桌上，一眼认出了它家新出的蜜粉腮红。👇
	<img src="/5.png" />
包装风格依然是熟悉的莫兰迪色系，不过这次外壳做成了磨砂质感。
酵色还贴心的送了一把点彩刷（也不知道是不是跟花知晓学的），刷毛有点稀稀拉拉，不过有赠品总好过没有嘛。

	<img src="/6.png" />


我入手的是大热色号#M205牛奶粉。奶呼呼的粉色涂出来特别自然清淡，可以当做膨胀色来提亮面中用。
粉质很细腻，直接手指打圈或刷子戳扫也没有严重飞粉。
	<img src="/7.png" />


喜欢妆面粉粉嫩嫩的姐妹，可以尝试用它给眼下定妆，没准会意外收获美丽的妆效。

	<img src="/8.png" />

酵色家一直以来的销售套路就是两件一起买更划算。所以单块腮红89元的价格不算特别友好，两块一起买的话，平均下来一块腮红大概69元左右。找姐妹一起拼拼单，还是可冲的~

	<img src="/9.png" />
包装审美和眼影盘配色，你永远可以相信3CE！（有没有3CE的忠粉来评论区和我击掌🖐🏻）
去年3CE的NEW TAKE系列真的差点把我给美疯。有非常高级冷艳的灰棕大地盘，也有日常百搭的杏粉盘，和甜酷俏皮的粉墨盘。
	<img src="/17.png" />
大地盘和杏粉盘的可替代性挺高的，我手头上就有不少类似配色的眼影盘，所以只入手了粉墨盘。非常推荐喜欢玩妆、想尝试Y2K辣妹风的朋友都买一盘来玩玩！
	<img src="/18.png" />
	值得一夸的就是它的大亮片色做成了类似土豆泥的质地，摸起来有点湿湿糯糯的，手指随便一摸就沾满爆闪，美到炸裂；
	哑光眼影的粉质也很丝滑好晕染，胆子够大的新手也能驾驭得了。
	<img src="/19.png" />
这盘的配色不走日常挂，但相比欧美眼影盘的drama配色，它已经算是很温和了。起码是亚洲辣妹画起来绝对没问题的“安全”盘。
	<img src="/20.png" />
想挑战一下甜酷风格妆容的小伙伴可以pick它！价格方面大家可以再蹲蹲大促或者自行找可靠韩代~
	<img src="/21.png" />
还有姐妹不知道Girls Crush的高光有多惊艳吗？我真的会伤心！！
我是去年在MK直播间被种草的，这种细腻且扎实的碎钻高光，竟然不到百元就能拿下。国货真的出息了！
	<img src="/22.png" />
大家可能还不太熟Girls Crush这个牌子，它是2021年才新创立的国货彩妆品牌。我也是因为它家美到惊人的高光才去专门做了背调。看到王亚飞老师的化妆桌上有它家产品我还挺意外的。
	<img src="/23.png" />
我拜托了摄影师一定要好好拍出这块高光的美给你们看看。但因为它闪得太密集，相机很难捕捉到它每个角度的美丽。
	<img src="/24.png" />
质地摸起来像黄油一样柔滑，不用担心它到处飞亮片，它扒在皮肤超级牢固，持妆力好优秀👍。 
黄皮和黄黑皮的小伙伴，色号推荐选择#02月光牛仔舞，香槟金色的钻闪，不挑皮，颜色适合大多数亚洲人，日常涂不会过于夸张。
	<img src="/25.png" />
来个动图让你们感受下它的光泽感有多强👇
	<img src="/26.png" />
皮肤比较白皙的姐妹可以试试#01银沙眼泪，碎钻银白闪，很有清冷白月光的感觉，画白开水妆容时候用它会美得很脱俗。
	<img src="/27.png" />	
<h2>三、护肤趋势</h2>
护肤趋势板块简述了当前在护肤领域中流行的理念、成分和技术，帮助用户保持与最新潮流同步：<br>
1.成分热潮<br>
烟酰胺（Niacinamide）： 烟酰胺是一种多功能的护肤成分，因其多效合一的特性而备受瞩目。<br>
o抗炎作用：烟酰胺能够有效地减轻皮肤的炎症反应，尤其适用于痘痘肌和敏感肌。<br>
o改善肤色：它有助于均匀肤色，减少暗沉和色斑，让皮肤看起来更加光滑透亮。<br>
o增强屏障功能：烟酰胺能够提高皮肤的屏障功能，减少水分流失，从而保持皮肤的水润和弹性。<br>
视黄醇（Retinol）： 视黄醇被广泛认为是抗衰老护肤品中的黄金成分。<br>
o促进细胞更新：它通过加速细胞更新过程，帮助去除老化角质细胞，使皮肤更加光滑细腻。<br>
o增强胶原蛋白生成：视黄醇能够促进胶原蛋白的生成，减少细纹和皱纹，使皮肤更加紧致和富有弹性。<br>
o抗氧化保护：它具有抗氧化特性，能够保护皮肤免受自由基的伤害，从而延缓皮肤老化。<br><br>
2.护肤理念<br>
简约护肤（Skinimalism）： 简约护肤倡导减少护肤步骤，注重少而精的产品选择，以达到最佳护肤效果。<br>
o多功能产品：选择具有多重功效的护肤品，如同时具备保湿和抗氧化功能的精华液，减少护肤步骤。<br>
o减少皮肤负担：简约护肤有助于避免过度护理引起的皮肤问题，如过度清洁或过度使用活性成分。<br>
o关注自然美：强调皮肤的自然光彩，鼓励人们接受和展示自己的真实肌肤状态，而非过度追求完美无瑕的外观。<br>
个性化护肤： 个性化护肤注重根据每个人独特的皮肤类型和需求，量身定制护肤方案。<br>
o皮肤测试与分析：通过先进的皮肤测试技术，分析个体的皮肤状况，确定其特定需求。<br>
o定制化产品：根据测试结果，推荐或定制适合个人皮肤的产品，提供更有效和精准的护肤体验。<br>
o动态调整：根据皮肤的季节性变化或生活方式的改变，及时调整护肤方案，确保持续的效果。<br>
3. 先进技术<br>
微针疗法（Microneedling）： 微针疗法利用微小的针头在皮肤表面产生微小的穿刺，刺激皮肤的自然修复机制。<br>
o胶原蛋白生成：微针疗法能够促进皮肤自身的胶原蛋白和弹性蛋白的生成，改善皮肤的质地和弹性。<br>
o提升吸收效果：微针疗法在皮肤上形成的微通道，有助于护肤产品更深层次地渗透和吸收，提高其效果。<br>
o改善多种问题：这种技术对痘疤、细纹、色素沉着等多种皮肤问题都有显著的改善效果。<br>
蓝光防护： 随着人们越来越多地使用电子设备，蓝光防护成为现代护肤的关键部分。<br>
o蓝光对皮肤的影响：蓝光不仅会导致眼睛疲劳，还会加速皮肤老化，诱发色斑和细纹。<br>
o防护成分：护肤产品中加入如抗氧化剂和蓝光过滤成分，能够有效减少蓝光对皮肤的损害。<br>
o日常防护：除了护肤品，许多人还选择使用带有蓝光过滤功能的屏幕保护膜或眼镜来保护皮肤和眼睛。<br>
4. 新兴趋势<br>
“清洁美妆”理念： 清洁美妆强调使用安全、环保的成分，减少对皮肤和环境的负担。
o无害成分：选择不含有害化学物质，如对羟基苯甲酸酯（Parabens）、硫酸盐（Sulfates）和人工香料的产品，减少皮肤刺激和潜在的健康风险。<br>
o可持续性：注重产品的环保性，从包装材料到成分的生产过程，都要考虑对环境的影响。<br>
o透明度和安全性：品牌需要提供清晰的成分列表和生产过程信息，让消费者能做出明智的选择。<br>
美容仪器： 家用美容仪器的普及为居家护肤带来了专业级的护理体验。<br>
oLED光疗：LED面罩通过不同波长的光线，促进胶原蛋白生成，减少痘痘和细纹，改善整体皮肤健康。<br>
o超声波洁面：超声波洁面仪利用高频振动，深层清洁皮肤，去除多余油脂和污垢，同时提供轻柔的按摩效果。<br>
o微电流仪：微电流仪器通过微电流刺激肌肉和皮肤，提升面部轮廓，增强皮肤的紧致度和弹性。<br>
这些护肤趋势不仅反映了消费者的需求变化，也体现了护肤科技和理念的不断创新。用户可以根据这些趋势，选择最适合自己的产品和方法，保持肌肤的健康与美丽。<br>
<h1>产品分类（Product Categories）</h1>
1. 按肤质分类<br>
不同肤质的用户在选择护肤品时会有不同的需求和关注点，因此，根据肤质进行分类能够提供更精准的推荐，提升用户体验。<br>
干性皮肤：<br>
o特征：皮肤干燥、紧绷，容易出现细纹和脱屑。<br>
o需求：强效保湿和锁水能力，修复皮肤屏障，避免刺激。<br>
o推荐产品：富含滋润成分的保湿霜、含有油脂和神经酰胺的面霜、温和的洁面乳。<br>
成分建议：透明质酸、甘油、霍霍巴油、乳木果油。<br>
o成分建议：透明质酸、甘油、霍霍巴油、乳木果油。
o洁面：欧莱雅复颜洁面乳
<img src="/32.png" />
之前推荐过的平价版阿玛尼黑曜石——美宝莲洁面乳停产了，我也还在寻在替代品中。这款也是大集体配方共享的产物，氨基酸+甜菜碱表活的复配，清洁力和起泡都要强于美宝莲，洗感更干净又不
干燥、不假滑。微量的水杨酸帮助轻微的代谢老废角质。从配方和使用感大致上和兰蔻新臻白洁面泡沫很像
<p>精华：娇韵诗双萃赋活精华露</p>
<img src="/33.png" />
双萃精华的使用感很好，推荐给身边的朋友，对使用感几乎是一致好评。水和油两种质地混合在一起，轻柔好抹、延展性很强，吸收迅速皮肤触感滋润，
感觉有一层薄薄的舒服的油膜感。功效性方面有各种植物油脂、水杨酰植物鞘氨醇（神经酰胺的前驱物）维护屏障的健康，添加的其他十几种植物成分都
有对应的功效，涵盖了抗氧化、抗糖化、抗炎、保湿滋润的效果。品牌定位是抗老精华，因为太温和，我一度都错认为它应该是修护屏障+抗氧化精华。
在皮肤不稳定的时候坚持用了一段时间，没有加重不稳定的问题，但是也没有很明显的抑制炎症和屏障问题，所以还是应该当做正儿八经的抗老、抗
氧化产品来用。在“比较温和”这个范畴中，双萃精华的抗氧化效果是比较强的，不耐受率低，又没有其他太刺激的成分。我认为它适合所有肤质，
从干皮到油皮，只要能够接受滋润质感应该都不会排斥，肤感配合的很好。也很推荐给屏障刚恢复不敢使用太刺激抗氧化产品的皮肤和需要抗老产品的敏感肌。
<p>面霜：Martina Gebhardt 乳木果面霜</p>
<img src="/34.png" />
有全球顶级的有机认证——Demeter 的品牌，这个认证的标准相当高，不论在哪—个国家或区域，Demeter 标准的整体要求远超过各国政府规定有机规则。
虽然不能说有机就一定是最好的，但是至少我们可以肯定，Martina Gebhardt 是有很认真的在做产品，而且原料品质很有保障。原先我是先用的乳木果乳液，
肤感很不错，在有机产品中，可以算非常舒服。上脸嗖嗖就成膜了，不油不粘不暗沉，对皮肤稳定保湿效果不错。就我个人感受来说，乳木果乳液的使用感和效果，
与 sisley 全能乳液差不多(全能乳液只是个保湿乳液）。不过对于干皮，秋冬用这款乳液，滋润度完全不够。但是乳木果面霜真的太油腻了。
如果说乳液是建议给干皮在春夏季使用，那么面霜就是大干皮在寒冷冬季使用。质地看似流动性很强，面霜上脸后油乎乎的一整天，像全脸擦脸润唇膏那么滋润。
推荐给敏感脆弱的干皮或者非常干燥的皮肤，不是大干皮真的不建议使用！








</main>
	</body>
</html>
