---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>

	<img src="/1.jpg" />
	<h2>一、热门推荐</h2>
	热门推荐栏目为用户精选了一系列最受欢迎的产品，包括：
	1.精选热销产品：
		
	<p>1、Olay淡斑小白瓶</p>
新版比前一代是小升级，加入传明酸。采用烟酰胺、酰本胺、革糖素、AA2G、SDL、凝血酸作为美白通路。红没药醇，甘草酸二钾和B5尿囊素舒缓。不含香精、着色剂即时提亮肤色，比较精简和清透，走了敏感肌只要对烟酰胺不过敏就可以用的美白产品。它涵盖了超抗（除了VE，但是用处真不大），又比超抗更多了些东西和浓度，也更精简，要选就选它。质地大部分肤质都适宜，肤感算是比较好的。
	
	<p>2、欧莱雅注白瓶</p>
美白淡斑提亮集一体，都有不错的效果，通路比较齐全。但缺点很明显——泵头难用，肤感粘，略刺激。目前是有跳水价，泵头真的该升级一下了。它美白抗氧二合一，主要功效成分为二裂酵母发酵产物溶胞产物+烟酰胺+咖啡因+377+新鲜水杨酸+木瓜蛋白酶+菠萝果提取物+HEPES+阿魏酸，本身也有温和促进代谢的途径。
	

	
	
新一代考虑到了昼夜节律以及促进胶原新生，Nox-Age是万金油，还可以糖氧双抗。以及麦角硫因，合欢树皮，脱羧肌肽，collrepair等清除糖基化终末产物AGEs。抗氧抗糖通路全，肤感相对好些，适合任何年龄段使用，新版的泵头我用到现在感觉还不错。小tips，嫌贵去看看中样还有替换装。


	
	<p>4、修丽可胶原瓶</p>
没在外网上查到有售，也有其它的店主这么说，还说挺骄傲的，中国特供啊。骄傲啥啊，这瓶精华在国外这样宣传和卖那真的可能被骂。首先，目前来说外用胶原蛋白的抗老紧致稳定性，都依然待论证，保湿和修护还可以。修丽可这一瓶用的就是锦波3型胶原原料，含量浓度是1.6%。肽类溶液浓度总计3%，来说抗衰紧致，实在是有点无语。（当年骂屠龙的人接了这个广良心不亏吗，不过好歹给了3%肽溶液吧），重组胶原今年虽火热，资本用来收钱，我们普通人不必在此时凑这个热闹，可以再等等。想抗老紧致，还是多看看主打肽类的产品，胶原附加在里面就可以，当然不附加也行。国内那么多好的肽类精华、面霜，浓度高效果好，建议别花冤枉钱。

<h2>二、明星同款</h2>
低至35元，女明星同款彩妆好东西！
国货彩妆里，包装美学玩得飞起的酵色，又又又出新品了。我在化妆师王亚飞的化妆桌上，一眼认出了它家新出的蜜粉腮红。👇


包装风格依然是熟悉的莫兰迪色系，不过这次外壳做成了磨砂质感。
酵色还贴心的送了一把点彩刷（也不知道是不是跟花知晓学的），刷毛有点稀稀拉拉，不过有赠品总好过没有嘛。



我入手的是大热色号#M205牛奶粉。奶呼呼的粉色涂出来特别自然清淡，可以当做膨胀色来提亮面中用。
粉质很细腻，直接手指打圈或刷子戳扫也没有严重飞粉。


喜欢妆面粉粉嫩嫩的姐妹，可以尝试用它给眼下定妆，没准会意外收获美丽的妆效。

酵色家一直以来的销售套路就是两件一起买更划算。所以单块腮红89元的价格不算特别友好，两块一起买的话，平均下来一块腮红大概69元左右。找姐妹一起拼拼单，还是可冲的~
	</body>
</html>
